.component-indicator{
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 10px;
    font-family: Roboto;
    text-decoration: none;
}

small, .small{
    font-family: Roboto;
    opacity: .7;
    font-size: 10px;
}

.nolink{
    text-decoration: none;
    color: inherit;
}