<div style="margin-bottom: 19px;">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h2 style="margin-bottom: 0px;">Forgot Password?</h2>
    </div>
</div>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="resetForm" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Email"
        matInput
        name="email">
      <mat-error *ngIf="resetForm.controls.email.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="resetForm.controls.email.hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary">Send Reset</button>
  </form>
</mat-card>