<div style="margin-bottom: 19px;">
  <div fxLayout="row" fxLayoutAlign="space-between center" >
      <h2 style="margin-bottom: 0px;">Change Password</h2>
  </div>
</div>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="passwordChangeForm" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input
        type="text"
        id="password1"
        formControlName="new_password1"
        placeholder="New Password"
        matInput
        name="password1">
      <mat-error *ngIf="passwordChangeForm.controls.new_password1.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        type="text"
        id="password2"
        formControlName="new_password2"
        placeholder="New Password Again"
        matInput
        name="password2">
      <mat-error *ngIf="passwordChangeForm.controls.new_password2.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        type="text"
        id="old_password"
        formControlName="old_password"
        placeholder="Old Password"
        matInput
        name="old_password">
      <mat-error *ngIf="passwordChangeForm.controls.old_password.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>