{% extends 'base.html' %}



{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to the Sample backend!</h1>
  <p class="lead">We're using the following wonderful addons:</p>
  <ul>
    <li>Django 2.1.2</li>
    <li>Django Rest Framework</li>
    <li>Django Rest Framework JWT</li>
    <li>Django Rest Auth</li>
    <li>Django Cors Headers</li>
  </ul>
  <hr class="my-4">
  <p>This app uses an Angular Frontend.  Visit the front end site <a href="">here</a>.</p>
</div>

{% endblock %}
