<div style="margin-bottom: 19px;">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h2 style="margin-bottom: 0px;">Choose New Password</h2>
    </div>
</div>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  <div *ngIf="djangoEmail; else manualRoute">
    <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="resetConfirmForm" (ngSubmit)='onSubmit()'>
        <mat-form-field>
          <input
            type="password"
            id="password1"
            formControlName="new_password1"
            placeholder="New Password"
            matInput
            name="password1">
          <mat-error *ngIf="resetConfirmForm.controls.new_password1.hasError('required')">Field must not be empty.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input
            type="password"
            id="password2"
            formControlName="new_password2"
            placeholder="New Password Again"
            matInput
            name="password2">
          <mat-error *ngIf="resetConfirmForm.controls.new_password2.hasError('required')">Field must not be empty.</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
  </div>
  <ng-template #manualRoute>
    <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="resetConfirmForm" (ngSubmit)='onSubmit()'>
        <mat-form-field>
          <input
            type="password"
            id="password1"
            formControlName="new_password1"
            placeholder="New Password"
            matInput
            name="password1">
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            id="password2"
            formControlName="new_password2"
            placeholder="New Password Again"
            matInput
            name="password2">
        </mat-form-field>
        <mat-form-field>
          <input
            type="string"
            id="uid"
            formControlName="uid"
            placeholder="UID"
            matInput
            name="uid">
        </mat-form-field>
        <mat-form-field>
          <input
            type="string"
            id="token"
            formControlName="token"
            placeholder="Token"
            matInput
            name="token">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
  </ng-template>

</mat-card>